.container-flex{
    width: 90%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
}

/* flex: flex-grow flex-shrink flex-basis */
.flex-item-1{
    background-color: aqua;
    flex: 0 0 200px;
}

.flex-item-2{
    background-color: brown;
    flex: 0 0 500px;
}

.flex-item-3{
    background-color:lightblue;
    flex: 0 1 1000px;
}