.main{
    width: 600px;
    height: auto;
    border: 1px solid black;
    background-color: aliceblue;
}
.main>img{
    width: 400px;
    height: auto;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}
