*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
div[class^=box]{
    width: 100px;
    height: 100px;
    margin: 5px 5px;
    background-color: lightblue;
}