.container{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    
}

.header{
    height: 120px;
    border: 1px solid black;
    background-color: aqua;
}
.aside{
    height: 150px;
    width: 200px;
    border: 1px solid black;
    background-color: green;
    float: left;
    opacity: 0.3;
}
.main{
    height: 150px;
    width: 600px;
    border: 1px solid black;
    background-color: violet;
    opacity: 0.3;
    float: right;
}
.footer{
    height: 120px;
    border: 1px solid black;
    background-color: brown;
    clear:both
}
