*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header{
    background-color: #762124;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo>img{
    height: 120px;
    width: auto;
    margin-left: 25px;
}

nav{
    width: 550px;
}

nav>ul{
display: flex;
justify-content: space-between;
align-items: center;
height: 120px;
list-style: none;
}

nav>ul>li>a{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 10px;
    text-decoration: none;
}

nav>ul>li:last-of-type{
    margin-right: 55px;
}

.home-img{
    background-image: url("../img/079.JPG");
    height: calc(97vh - 120px);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center ;
    overflow: hidden;
    /* width: auto; */
}

.home-title{
    width: 55%;
    color: white;
    font-style: oblique;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-shadow: 2px 2px 5px rgb(185, 118, 30); 
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: blanchedalmond;
}

.pt-2{
    /* margin-top: 20px; */
    padding-top: 15px ;
}
.pb-2{
    /* margin-bottom: 20px; */
    padding-bottom: 20px ;
}

footer{
    display: flex;
    height: 150px;
    background-color: #762124;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10px;
}

.dropdown{
position: relative;
}

.dropdown:hover > .dropdown-content{
display: flex;
}

.dropdown-content{
display: none;
position: absolute;
background-color: #762124;
width: 120px;
top: 30px;
left: 10px;
list-style: none;
flex-direction: column;

}
.dropdown-content>li>a{
    color: white;
    font-size: 1,2rem;
    list-style: none;
}

.navbar-toggler{
    display: none;
    margin-right: 10px;
}
/* .navbar-toggler:hover{
} */

.menu-toggler{
    display: none;
}

@media(max-width:992px){
    nav{
        display: none;
    }
    .navbar-toggler{
        display: block;
    }
}

.hidden {
  display: none;
}

.show {
  display: block;
}
