:root{
    --gov-blue:#003474;
    --navy:#002E94;
    --blue:#083aa9;
    --white:#fff;
    --lightgrey-200:#ecebec;
    --lightgrey-300:#cdccce;
    --lightgrey-500:#99989c;
    --yellow: rgb(130,130,4);
    --green:#006736;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


/* Header Styling */
header{
    width: 100%;
    height: 105px;
    border-bottom: 10px solid var(--blue);
}

header .img-gov{
    height: 100px;
    width: auto;
}

nav{
    width: 80%;
}

/* Footer Styling */
footer{
    border-top: 10px solid var(--blue);
}
.img-footer{
    height: 75px;
    width: auto;
}

/* Displays */
.d-flex{
    display: flex;
    justify-content: space-between;
}

.flex-row{
    flex-direction: row;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}



/* Margin-Padding */

.mr-1{
    margin-right: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-1{
    margin-top: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.pl-1{
    padding-left: 1rem;
}
.pr-1{
    padding-right: 1rem;
}



/* Backrounds */

.bg-gov-blue{
    background-color: var(--gov-blue);
}
.bg-green{
    background-color: var(--green);
}
.bg-lightgrey-300{
    background-color: var(--lightgrey-300);
}


/* Text Styling */

.font-size-1{
    font-size: 1rem;
}
.text-lightgrey-200{
    color: var(--lightgrey-200);
}
.text-white{
    color: var(--white);
}
.text-blue{
    color: var(--blue);
}
.text-decoration-none{
    text-decoration: none;
}

.list-style-none{
    list-style: none;
}


/* Borders */
.border{
    border-style: solid;
    border-width: 1px;
}

.border-white{
    border-color: var(--white);
}

.border-radius-15{
    border-radius: 15%;
}